<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.exoplayer2.ext.leanback.test" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="27" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for com.google.android.exoplayer2.ext.leanback.test"
        android:targetPackage="com.google.android.exoplayer2.ext.leanback.test" />

    <application android:debuggable="true" >
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>

</manifest>